.container{
    display: flex;
    justify-content: center;
    width: 85%;
}

.heading{
    font-family: sans-serif;
}

@media (max-width: 770px){
    .container{
        width: 100%;
    }
}